<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de Contraseña</title>
    <link rel="stylesheet" href="/css/updateAccount.css">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <div class="container">
        <h1>Cambio de Contraseña</h1>
        <form id="updatePasswordForm">
            <div class="form-group">
                <label for="dni">DNI de la cuenta:</label>
                <input type="text" id="dni" name="dni" required>
            </div>

            <button type="submit" class="btn">Actualizar Contraseña</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script>
        document.getElementById('updatePasswordForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const dni = document.getElementById('dni').value;

            try {
                const response = await fetch(`/change-password`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ dni })
                });

                if (response.ok) {
                    const user = await response.json();
                    window.location.href = `/account/${user.accountID}`;
                } else {
                    const errorData = await response.json();
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: `Error al actualizar la contraseña: ${errorData.error}`,
                        timer: 2000,
                        willClose: () => {
                            window.location.reload()
                        }
                    });
                }
            } catch (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error de red',
                    text: 'Error de red. Inténtalo de nuevo más tarde.',
                    timer: 2000,
                    willClose: () => {
                        window.location.reload()
                    }
                });
            }
        });
    </script>
</body>
</html>
