*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profesor__contenedor{
    width: 100%;
    height: 100vh;
    background-color: rgb(69, 81, 247);
}
.perfil{
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
}
.perfil a{
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    transition: all 0.4s ease;

}
.perfil i{
    color:rgb(61, 61, 185);
    font-size: 25px;
    transition: all 0.4s ease;
}
.perfil_redireccion:hover{
    transform: scale(1.1);
}
.log-out{
    transition: all 0.2s ease;

}
.log-out:hover{
    transform: scale(1.1);

}
.logout-button{
    width: 100px;
    margin: 5px;
    display: flex;
    background: linear-gradient(45deg, #5e57b4, #6959c5, #7a7aad); /* Degradado lineal */
    padding: 5px;
    border: 2px solid rgb(110, 117, 219); /* Borde transparente para que solo el gradiente sea visible */
    border-radius: 30px;
    color: white;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.log-out i{
    color: white;
    font-size: 15px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/*

 ANIMACION PROFESOR

*/
.profesor__animacion{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: ANIMACION__PROFESOR 3s ease;
}
.bienvenido{
    width: 80%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin-right: 0;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bienvenido h1{
    font-weight: 250;
    margin-right: 20%;
}
.divisor_contenedor{
    width: 20%;
    height: 90%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.divisor_animacion{
    margin-left: 10px;
    height: 70%;
    width: 5px;
    border: none;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
}



.oculto {
    display: none;
}

@keyframes ANIMACION__PROFESOR {
    0% {
      /* Estilo inicial */
      transform: scale(1);
    }
    20%{
        transform: scale(1.05);
    }
    35%{
        transform: scale(1);
    }
    70%{
        width: 100%;
        color: black;
    }
    80%{
        color: white;
    }
    100% {
        color: white;
        width: 0px;
    }
  }
  

/*
        FIN
 ANIMACION PROFESOR

*/

/*

 ESTILOS CURSOS PROFESOR

*/

.profesor__contenedor_cursos{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.tarjeta__curso{
    margin: 20px;
    width: 25%;
    height: 30vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blue;
    font-size: 15px;
    font-weight: 500;
    font-family: monospace;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 5px;
    transition: all 0.4s ease;
    cursor: pointer;
}
.tarjeta__curso:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 2px 2px rgb(109, 109, 109);
    border: none;
}

.anio_curso{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}
.anio-materia{
    margin-right: 0px;
}
.nombre-materia{
    margin-left: 0px;
}
.anio_curso h1{
    padding: 5px;
    font-size: 11px;
    background-color: rgb(15, 49, 112);
    color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.imagen_curso{
    width: 100%;
    height: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagen_curso i{
    color: rgb(69, 58, 167);
    font-size: 14vh;
}
.horario{
    display: flex;
    width: 80%;
    justify-content: center;
}
.horario p{
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    color: black;
}
.preceptor_curso{
    height: 20%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preceptor_curso h1{
    width: 31%;
    background-color: rgb(62, 128, 216);
    font-size: 11px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
        FIN
 ESTILOS CURSOS PROFESOR

*/